<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.endica"
        version   = "1.0.0">

    <name>Endica</name>

    <description>
        Entretenimento, diversão e carnaval.
    </description>

    <author href="http://mobiweb.com.br" email="contato@mobiweb.com.br">
        Equipe Mobi Web
    </author>

    <preference name="phonegap-version" value="3.0.0" /> 

    <gap:plugin name="org.apache.cordova.core.inappbrowser" />
	<icon src="icon.png" />	
</widget>
